.input-wrapper {
  width: 728px;
  height: 46px;
  border: 1px;
  border-style: solid;
  border-color: black;
  /* border-radius: 10px; */
  padding: 11px 16px;
  /* box-shadow: 0px 0px 8px #ddd; */
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 24px;
  /* font-size: 1.25rem; */
  width: 624px;
  margin:auto
}

input:focus {
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: none;
}

.clearButton {
  outline: none;
  border: none;
}